@use '../common/variables';

.books-header {
    margin-bottom: 1rem;
    background: variables.$light-brown;
    color: variables.$main-white;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    box-shadow: variables.$default-shadow;
}

.books-header-content {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    text-shadow: 0.5px 0.5px 1px #664934;
}

.books-title {
    text-transform: uppercase;
}

.books-filter {
    display: inline-flex;
    gap: 0.5rem;
    cursor: pointer;
}
.load-more {
    display: block;
    margin: 2rem auto;
    padding: 0.8rem 2.5rem;
    background-color: variables.$dark-brown;
    opacity: 0.8;
    color: variables.$main-white;
    border: none;
    border-radius: 22px;
    box-shadow: variables.$default-shadow;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    text-shadow: 0.5px 0.5px 1px #664934;
}

.load-more:hover {
    opacity: 1;
    scale: 1.05;
}
.books-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    max-width: 1440px;
    margin: 0 auto;
}

.book {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: start; 
    padding: 14px 0 4px 0;
}
.book img {
    width: 100%;
    max-width: 90px;
    height: 130px;
    object-fit: cover;
    box-shadow: variables.$default-shadow;
    cursor: pointer;
    margin-bottom: 4px;
}
.book h3{
    width: 90%;
    max-width: 90px;
    margin: 0.4rem 0 0.1rem 0.2rem;
    font-size: 0.8rem;
}
.book p {
    width: 90%;
    max-width: 90px;
    margin: 0.1rem 0 0.2rem 0.2rem;
    font-size: 0.7rem;
}
.fa-filter {
    font-size: 1.2rem;
}
.books-grid {
    position: relative;
    min-height: 100px;
}
.all-books-loader {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
