@use '../common/variables';

.contact-wrapper {
    max-width: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #ccbeb1;

}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    background: #ccbeb1;
    gap: 40px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

}

.address {
    margin-bottom: 10px;

    p {
        font-size: 1.1rem;
    }
}

.contact-details i {
    margin-right: 10px;

}

.contact-details p {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;

}

.contact-info h3 {
    margin-bottom: 5px;
    font-size: 1.3rem;
}

.map-section iframe,
.map-section img {
    width: 100%;
    height: 350px;
    display: block;
}

.contact-details a {
    color: inherit;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}

.phone-row a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}


@media (max-width: 768px) {
    .contact-info {
        flex-direction: row;
        align-items: flex-start;
    }

    .address,
    .contact-details {
        flex: 1;
    }


    .contact-details {
        text-align: right;

    }

    .contact-details p {
        justify-content: flex;
    }
}