@use '../common/variables';

.footer {
  background-color: #91735D;
  padding-top: 20px;
  padding-bottom: 20px;

  h2 {
    color: variables.$beige;
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0;

    @media (min-width: variables.$tablet-breakpoint) {
      text-align: left;
    }
  }


  @media (min-width: variables.$tablet-breakpoint) {
    justify-content: space-between;
  }
}

.footer-content-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media (min-width: variables.$tablet-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
      flex-wrap: wrap;

  }
}

.footer-content {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: variables.$tablet-breakpoint) {
    width: fit-content;
    

  }
}


.Newsletter-form {
  display: flex;
  align-items: center;
  height: 50px;
  max-width: 90%;
}



.Newsletter-form input {
  padding: 10px 20px;
  border: none;
  border-radius: 20px 0 0 20px;
  height: 100%;
  margin: 0;
  width: 220px;
  max-width: 100%;
}



.Newsletter-form button {
  margin: auto;
  padding: 15px 25px;
  border: none;
  background-color: #47362a;
  color: #fff;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  margin: 0;
  height: 100%;
}



.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons img {
  width: 32px;
  height: 32px;
  display: block;
}

.social-icons img:hover {
  opacity: 0.7;
}