.footer { 

    background-color: #91735D; 

    padding: 40px 80px; 

    display: flex; 

    justify-content: center; 

} 

 

.footer-content { 

  max-width: 1200px; 

  width: 100%; 

  display: flex; 

justify-content: space-between; 

    align-items: center; 

    flex-wrap: wrap; 

} 

 

.newsletter-form { 

  display: flex; 

  align-items: left; 

} 

 

.newsletter-form input{ 

  padding: 10px; 

  border: none; 

  border-radius: 20px 0 0 20px; 

outline: none; 

width: 220px 

} 

 

.newsletter-form button{ 

  padding: 10px 20px; 

  border: none; 

  background-color: #91735D; 

  color: #fff; 

  border-radius: 0 20px 20px 0; 

  cursor: pointer; 

} 

 

.social-icons a,
.social-iconsa:visited
social icons a:active { 

  color: #fff; 

  margin-left:20px; 

  font-size: 20px; 

  text-decoration: none; 
 
} 

.social-icons a { 

  color: #fff; 

  margin-left:20px; 

  font-size: 20px; 

  text-decoration: none; 

}

.social-icons a:hover { 

  opacity: 0.7;
}