.footer { 

    background-color: #91735D; 

    padding: 40px 80px; 

    display: flex; 

    justify-content: center; 

} 


.footer-content { 

  max-width: 1200px; 

  width: 100%; 

  display: flex; 

 justify-content: space-between; 

    align-items: center; 

    flex-wrap: wrap; 

} 

 
.Newsletter-form { 

  display: flex; 
  align-items: center; 

} 

 

.Newsletter-form input { 

  padding: 10px 20px; 

  border: none; 

  border-radius: 20px 0 0 20px; 
  
  height: 45px;

width: 220px;

} 

 

.Newsletter-form button { 

  margin: auto;

  padding: 15px 25px; 

  border: none; 

  background-color: #47362a; 

  color: #fff; 

  border-radius: 0 20px 20px 0; 

  cursor: pointer; 

  height: 50px;

} 

 

.social-icons { 

    display: flex;

    gap: 20px;
 
} 

.social-icons img { 

  width: 32px;

  height: 32px;

  display: block;
  
}

.social-icons img:hover { 

  opacity: 0.7;
}