.footer { 

    background-color: #91735D; 

    padding: 40px 80px; 

    display: flex; 

    justify-content: center; 

} 

 

.footer content { 

  max-width: 1200px; 

  width: 100%; 

  display: flex; 

justify-content: space-between; 

    align-items: center; 

    flex-wrap: wrap; 

} 

 

.newsletter-form { 

  display: flex; 

  align-items: center; 

} 

 

.newsletter-form input{ 

  padding: 10px; 

  border: none; 

  border-radius: 20psx 0 0 20px; 

outline: none; 

width: 220px 

} 

 

.newsletter-form buttom { 

  padding: 10px 20px; 

  border: none; 

  background-color: #91735D; 

  color: #fff; 

  border-radius: 0 20px 20px 0; 

  cursor: pointer; 

} 

 

.sociual-icons a { 

  color: #fff; 

  margin-left:20x; 

  font-size: 20px; 

  text-decoration: none; 

} 