@use '../common/variables';

.hero {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.hero .slide-content {
    display: grid;
    grid-template-columns: 40% 60%;
    color: variables.$main-white;
    height: 100%;
    // min-height: 250px;
    // height: 250px;
}

.hero .swiper-slide {
    height: auto;
    max-width: 420px;
    box-shadow:
        0 0 10px rgba(0, 0, 0, 0.4),
        0 0 8px rgba(0, 0, 0, 0.03);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover, &:focus {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}

.hero-swiper.swiper {
    padding: 10px;
}

.hero .slide-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.hero .slide-image img {
    width: 100%;
    height: 100%;
}

.hero .slide-text {
    background-color: variables.$light-brown;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    // height: 100%;
    padding: 20px;

    h2 {
        font-size: 1.8rem;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    h3 {
        font-size: 1.2rem;
        margin: 5px 0;
        text-align: center;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }
}

.hero .swiper-pagination {
    position: absolute;
}

.hero .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: variables.$dark-brown;
}

.hero .slide-link {
    text-decoration: none;
}