@use '../common/variables';

.hero {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.hero .slide-content {
    display: grid;
    grid-template-columns: 40% 60%;
    color: variables.$main-white;
    height: 100%;
    // min-height: 250px;
    // height: 250px;
}

.hero .swiper-slide {
    height: auto;
    max-width: 420px;
    box-shadow: variables.$default-shadow;
}

.hero-swiper.swiper {
    padding: 10px;
}

.hero .slide-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.hero .slide-image img {
    width: 100%;
    height: 100%;
}

.hero .slide-text {
    background-color: variables.$light-brown;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    // height: 100%;
    padding: 20px;

    h2 {
        font-size: 1.8rem;
        // margin-bottom: 10px;
    }

    h3 {
        font-size: 1.2rem;
        margin: 5px 0;
    }
}

.hero .swiper-pagination {
    position: absolute;
}

.hero .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: variables.$dark-brown;
}


.swiper-pagination {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
  
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #ccc;
    opacity: 1;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .swiper-pagination-bullet-active {
    background: #000;
  }
  
  .bullet-middle {
    cursor: default; // чтобы не казалось кликабельным
  }
  