@use '../common/variables';

.notfound-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.notfound-page__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 80%;
    gap: 10px;

    h1, h2 {
        color: variables.$dark-brown;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    img {
        width: 90%;
        height: auto;
    }
}