/* wishlist.scss */
@use '../common/variables.scss';

.wishlist-title h2 {
  color: variables.$main-black;
  font-family: variables.$main-font;
  font-weight: normal;
  padding-left: 1rem;
}

.wishlist-header { // h2 and add all to cart button
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; //more space between header and bookcard
}

.wishlist-container { //container where rendered items will show up
  display: flex;
  flex-wrap: wrap;
}

// book card --> entire div with image, title, author & price
.bookcard {
  position: relative;  //helps with overlap and layout
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 0.75rem;
  padding-right: 5.625rem;
  padding-bottom: 3.125rem;
  background-color: variables.$beige;
  border-radius: 9px;
  margin-bottom: 0.75rem;
  box-shadow: variables.$default-shadow;
}

.wishlist-img { //each book image
  height: 140px;
  width: 100px;
  object-fit: cover;
  margin: 1rem;
  box-shadow: variables.$default-shadow;

}

#add-all-to-cart { //content inside the button //
    color: variables.$main-white;
    font-family: variables.$main-font;
    background-color: variables.$light-brown;
    padding: 12px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 13px; //space between text and icon
    border-radius: 10px;
    border: none;
    box-shadow: variables.$default-shadow;
    cursor: pointer;
    
    &:hover {
    transition: 0.3s; 
        background-color: variables.$dark-brown;
    }
}
#add-all-to-cart svg path { //shopping cart icon 
    fill: variables.$main-white;
} 

//div for add-to-cart and trashcan for styling
.wishlist-controls {
  position: absolute;
  top: 0; 
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;

  padding: 10px; //space so buttons don't touch the edges of bookcard
}

//trash icon styling
.wishlist-trash-button {
  background: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  font-size: 1.2rem;
  margin: 0.5rem
}

  .wishlist-trash-button svg path {
fill: #000;
  }


// add to cart styling
.wishlist-add-button {
  background-color: variables.$light-brown;
  color: variables.$main-white;
  font-family: variables.$main-font;
  padding: 12px 16px;
  font-size: 1rem;
  border-radius: 14px;
  border: none;
  box-shadow: variables.$default-shadow;
  cursor: pointer;
  align-self: flex-end;

  &:hover {
    transition: 0.3s; 
        background-color: variables.$dark-brown;
    }
}

.book-price {
  font-weight: bold;
}
