@use './common/variables.scss';


body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.header.common-padding {
    max-width: 100%;
    height: 8rem;
    background-color:#fff;
    position: relative;
    box-shadow: 0px 0px 5px rgb(206, 205, 205);  
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}
.menu-icon{
    margin-left: 0.5rem;
}

.logo-icon{
    margin-left: 4rem;
}

ul { 
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    gap: 0.5rem;
}
svg {
    fill: variables.$main-black;
    width: 20px;
    height: 20px;
}
   

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgba(234, 224, 211, 0.47); 
    border-radius: 15px;
    width: 70%;
    margin: 5px auto;
    height: 38px;
    width: 100%;
    max-width: 390px;
}

input {
    margin-top: 8px;
}


.search-bar:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.search-bar input {
   
    flex: 1; 
    border: none;
    outline: none;
    background: transparent; /* Important so it doesn't cover container color */
    font-size: 16px;
    height: 28px;
    margin-left: 5px;
}


.search-bar i {
    max-width: 20%;
    position: relative;
    flex-shrink: 0;
}

i {
    margin-right:10px ;
}

.menu-wrapper {
    background-color: #ffffff;
    max-width: 100%;
    width: 100%;
    max-height: 0px;
    margin-top: 29px;
    overflow: hidden;
    transition: max-height 0.5s;
    position: absolute; 
    z-index: 10;        /* higher than the hero image */
    left: 0;
    top: 78%;
    box-shadow: 0px 0px 5px rgb(241, 238, 238);
}

.menu-wrapper.open-menu {
    max-height: 400px;
}

.menu-icon {
    cursor: pointer;
}
.paragraph {
    padding: 10px;
    color: black;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link {
    text-decoration: none;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;

}

