nav {
    background-color:antiquewhite;
     min-width: 320px;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

nav ul {
    width: 100%;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px;
}

.search-bar {
     background-color:antiquewhite;

}

