@use './common/variables.scss';


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.header.common-padding {
    max-width: 100%;
    height: 8rem;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 0px 5px rgb(206, 205, 205);
}




nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu-icon {
    // margin-left: 1rem; // changed by Anna, reason: better alignment with the logo

    //added by Anna - aligned and increased the click area, making it easier for the user to interact with the menu icon
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s ease;

    &:hover, &:focus {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }

    img {
        display: block;
        width: 24px;
    }


}

.logo-icon {
    margin-left: 6rem;
}



ul {
    display: flex;
    list-style: none;
    text-align: right;

    svg {
        fill: variables.$main-black;
        width: 20px;
        height: 20px;
    }


}

li {
    margin: 3px;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgba(234, 224, 211, 0.47);
    border-radius: 15px;
    width: 70%;
    margin: 15px auto;
    height: 38px;

}

input {
    margin-top: 8px;
}


.search-bar:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.search-bar input {

    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    /* Important so it doesn't cover container color */
    font-size: 16px;
    height: 28px;
}


.search-bar i {
    max-width: 20%;
    position: relative;
    flex-shrink: 0;
}

i {
    margin-right: 10px;
}

.menu-wrapper {
    background-color: #ffffff;
    max-width: 100%;
    width: 100%;
    max-height: 0px;
    margin-top: 29px;
    overflow: hidden;
    transition: max-height 0.5s;
    position: absolute;
    z-index: 10;
    /* higher than the hero image */
    left: 0;
    top: 78%;
    box-shadow: 0px 0px 5px rgb(241, 238, 238);
}

.menu-wrapper.open-menu {
    max-height: 400px;
}


.paragraph {
    padding: 10px 10px 10px 30px; // changed by Anna, reason: better alignment with the icon
    color: black;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    transition: all 0.3s ease; // changed by Anna, reason: smooth transition effect

}



.sub-menu-link span {
    font-size: 22px;
    transition: all 0.3s ease; // changed by Anna, reason: smooth transition effect
}


.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}

//added by Anna
.header-logo-link {
    cursor: pointer;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }
}

.sub-menu-link {
    text-decoration: none;
    font-size: 1rem; 
    transition: all 0.3s ease;
}
