@use './common/fonts';
@use './common/variables';
@use './common/global';
@use './header';
@use './blocks/loader';
@use './blocks/contact';
@use './blocks/all-books';
@use './blocks/hero';
@use './blocks/popup';
@use './blocks/cart';
@use './blocks/bestsellers';
@use './blocks/footer';
@use './blocks/scrollToTop';