@use './variables';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%; // for sticky footer 
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column; // for sticky footer 
    justify-content: space-between; // for sticky footer 
    overflow-x: hidden;
    font-family: variables.$main-font;
    font-size: 14px;
    color: variables.$main-black;
    background-color: variables.$main-white;

    // @media (min-width: $desktop-breakpoint) {
    //     font-size: 18px;
    // }
    // example of responsive font size
}

main {
    flex-grow: 1; // for sticky footer 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    display: block;
}

.common-padding {
    padding-left: 20px;
    padding-right: 20px;
}


.overlay-active::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(13, 29, 51, 0.4);
    z-index: 2;
}

.overlay-no-scroll {
    overflow: hidden;
}

.button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}